<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.bootstrap.css'>
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src='rest-student.js'></script>
    </head>
    <body>
       
        <h2> Student REST Service </h2>
        <table id='datatable' class='tablesorter-bootstrap table'>
        </table>
        <!---
        <div class='pager' id='pager'>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/first.png' class='first' alt='First'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/next.png' class='next' alt='Next'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>            
        </div>
        --->
        <br>

        <div id='details' class='container'></div> <div id='create' class='container'></div>


        <!-- Templates -->
       <script type='text/template' id='tpl-create'>
            <br>
            <button class='new btn btn-default'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>id</th>
            <th>email</th>
            <th>lastname</th>
            <th>firstname</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-student-list-item'>
            <td><a href='#<%= id %>'><%= id %></a></td>
            <td><%= email %></td>
            <td><%= lastname %></td>
            <td><%= firstname %></td>
        </script>

        <script type='text/template' id='tpl-student-details'>
            <div>
            <table class='table table-bordered'>
            <tbody>
<!--            
            <tr><td>Id</td>
            <td>
            <input type='text' id='id' name='id' value='<%= typeof(id)!== "undefined" ? id : "" %>'  />
            </td>
            </tr>
 -->
            <input type='hidden' id='id' name='id' value='<%= typeof(id)!== "undefined" ? id : "" %>'  />
            <tr>
            <td>email</td><td><input type='text' id='email' name='email' value='<%= email %>'class="form-control"/></td></tr>
            <tr>
            <td>lastname</td><td><input type='text' id='lastname' name='lastname' value='<%= lastname %>' class="form-control"/></td></tr>
            <tr>
            <td>firstname</td><td><input type='text' id='firstname' name='firstname' value='<%= firstname %>' class="form-control"/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save btn btn-default'>Save</button>
            <button  class='delete btn btn-default'>Delete</button>
            </div>
        </script>


    </body>
</html>
