<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:tj="http://java.sun.com/jsf/composite/ezcomp"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./resources/mainTemplate.xhtml">

            <ui:define name="top">
                Manage Students, Professors and Projects
            </ui:define>

            <ui:define name="content">
                <p:accordionPanel multiple="true" id="accordion">
                    <p:tab title="Students" id="studentTab">
                        <h:form id="studentTableForm">
                        <p:dataTable value="#{StudentBean.getStudentList()}" var="s"
                                    paginator="true" paginatorPosition="bottom" rows="20"
                                    paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
                                    rowKey="#{s.id}"
                                    id="studentTable"
                                    >
                            <p:column headerText="ID" width="10">
                                <h:outputText value="#{s.id}" />
                            </p:column>
                            <p:column headerText="First Name">
                                    <h:outputText value="#{s.firstName}" />
                            </p:column>
                            <p:column headerText="Last Name">
                                <h:outputText value="#{s.lastName}" />
                            </p:column>
                            <p:column headerText="Email">
                                <h:outputText value="#{s.email}" />
                            </p:column>
                            <p:column width="25">
                                <p:commandButton icon="ui-icon-trash"
                                    title="Delete this student"
                                    actionListener="#{StudentBean.remove(s)}"
                                    update=":accordion:studentTableForm" />
                            </p:column>
                        </p:dataTable>
                        </h:form>
                       
                        <tj:addPerson 
                            firstNameLabel="First Name" 
                            firstNameValue="#{StudentBean.student.firstName}" 

                            lastNameLabel="Last Name" 
                            lastNameValue="#{StudentBean.student.lastName}" 

                            emailLabel="E-mail" 
                            emailValue="#{StudentBean.student.email}"

                            registerButtonText="Add Student" 
                            registerButtonAction="#{StudentBean.add}"
                            dataTableID=":accordion:studentTable"
                        />  
                       
                    </p:tab>
 
                    <p:tab title="Professors" id="professorTab">
                        <h:form id="professorTableForm">
                        <p:dataTable value="#{ProfessorBean.getProfessorList()}" var="p"
                                    paginator="true" paginatorPosition="bottom" rows="20"
                                    paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
                                    rowKey="#{p.id}"
                                    id="professorTable"
                                    >
                            <p:column headerText="ID" width="10">
                                <h:outputText value="#{p.id}" />
                            </p:column>
                            <p:column headerText="First Name">
                                    <h:outputText value="#{p.firstName}" />
                            </p:column>
                            <p:column headerText="Last Name">
                                <h:outputText value="#{p.lastName}" />
                            </p:column>
                            <p:column headerText="Email">
                                <h:outputText value="#{p.email}" />
                            </p:column>                            
                            <p:column headerText="Capacity">
                                <h:outputText value="#{p.capacity}" />
                            </p:column>
                            <p:column width="25">
                                <p:commandButton icon="ui-icon-trash"
                                    title="Delete this professor"
                                    actionListener="#{ProfessorBean.remove(p)}"
                                    update=":accordion:professorTableForm"  />
                            </p:column>
                        </p:dataTable>                        
                        </h:form>    

                        <tj:addPerson 
                            firstNameLabel="First Name" 
                            firstNameValue="#{ProfessorBean.professor.firstName}" 

                            lastNameLabel="Last Name" 
                            lastNameValue="#{ProfessorBean.professor.lastName}" 

                            emailLabel="E-mail" 
                            emailValue="#{ProfessorBean.professor.email}"

                            registerButtonText="Add Professor" 
                            registerButtonAction="#{ProfessorBean.add}"
                            dataTableID=":accordion:professorTable"
                        />
                    </p:tab>
                    <p:tab title="Projects" id="projectTab">
                        <h:form id="projectTableForm">
                         <p:dataTable value="#{ProjectBean.getProjectList()}" var="j"
                                paginator="true" paginatorPosition="bottom" rows="20"
                                paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}"
                                id="projectTable"
                                >
                                <p:column headerText="ID" width="10">
                                    <h:outputText value="#{j.id}" />
                                </p:column>
                                <p:column headerText="Name">
                                        <h:outputText value="#{j.name}" />
                                </p:column>
                                <p:column headerText="Description">
                                    <h:outputText value="#{j.desc}" />
                                </p:column>
                                <p:column headerText="Professor">
                                    <h:outputText value="#{ProfessorBean.getProfessorById(j.idProfessor).firstName} #{ProfessorBean.getProfessorById(j.idProfessor).lastName}" />
                                </p:column>                            
                                <p:column headerText="Capacity">
                                    <h:outputText value="#{j.capacity}" />
                                </p:column>
                                <p:column width="25">
                                    <p:commandButton icon="ui-icon-trash"
                                        title="Delete this project"
                                        actionListener="#{ProjectBean.remove(j)}"
                                        update=":accordion:projectTableForm"  />
                                </p:column>
                         </p:dataTable> 
                        </h:form>
                        <h:form>
                            <p:panelGrid columns="9" id="textPanel">
                                Name : 
                                <p:inputText id="name" value="#{ProjectBean.project.name}" />

                                Description : 
                                <p:inputTextarea id="desc" value="#{ProjectBean.project.desc}" rows="4" cols="20"/>
                                
                                Student Capacity
                                <p:inputText id="capacity" value="#{ProjectBean.project.capacity}" />

                                Professor
                                <p:selectOneMenu value="#{ProjectBean.project.idProfessor}">
                                    <f:selectItems value="#{ProfessorBean.list}" var="professor" 
                                                   itemValue="#{professor.id}" 
                                                   itemLabel="#{professor.firstName} #{professor.lastName}" />
                                </p:selectOneMenu>

                                <p:commandButton actionListener="#{ProjectBean.add()}"
                                    value="Add Project"
                                    ajax="True"
                                    update=":accordion:projectTableForm"
                                />                        
                            </p:panelGrid>
                        </h:form>
                    </p:tab>
                </p:accordionPanel>
            </ui:define>

            <ui:define name="bottom">
                (c) 2014 TJ
            </ui:define>

        </ui:composition>

    </body>
</html>
