<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <h:form id="StudentListForm">
                    <p:dataTable id="datalistStudents" value="#{studentController.items}" var="item"
                                 selectionMode="single" selection="#{studentController.selected}"
                                 paginator="false"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_firstname}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_lastname}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{studentController.prepareCreate}" update=":Tab:StudentCreateForm" oncomplete="PF('StudentCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":Tab:StudentViewForm" oncomplete="PF('StudentViewDialog').show()" disabled="#{empty studentController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":Tab:StudentEditForm" oncomplete="PF('StudentEditDialog').show()" disabled="#{empty studentController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{studentController.destroy}" update=":Tab:growlStudents,datalistStudents" disabled="#{empty studentController.selected}"/>
                        </f:facet>
                    </p:dataTable>
            </h:form>

            <ui:include src="/student/Create.xhtml"/>
            <ui:include src="/student/Edit.xhtml"/>
            <ui:include src="/student/View.xhtml"/>
    </ui:composition>

</html>
