<div style="width: 400px; position: absolute; bottom:0; left: 50%; margin-left: -200px; background-color: #eee; border-top: 1px solid #7272da; font-family: Arial; font-size: 14px;font-variant: small-caps;">
    &nbsp;&nbsp;Navigation: <br><br>
    <div style="padding-left: 20px; padding-bottom: 5px; font-size: 16px; font-">
        {0}
    </div>
</div>