<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>Student Project Allocation</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
       
        
        <p:tabView id="Tab">
        <p:tab title="#{bundle.ListProfessorTitle}">
            <p:growl id="growlProfessors" life="3000" />
            <ui:include src="/professor/List.xhtml"></ui:include>
        </p:tab>
        <p:tab title="#{bundle.ListStudentTitle}">            
            <p:growl id="growlStudents" life="3000" />
            <ui:include src="/student/List.xhtml"></ui:include>
        </p:tab>
        <p:tab title="#{bundle.ListProjectTitle}">
            <p:growl id="growlProjects" life="3000" />
            <ui:include src="/project/List.xhtml"></ui:include>
        </p:tab>
            
        <p:tab title="#{bundle.ListStudentPreferenceTitle}">
            <p:growl id="growlStudentPreference" life="3000" />
            <ui:include src="/studentPreference/List.xhtml"></ui:include>
        </p:tab>
    </p:tabView>
        <!--
        <br />
        <h:link outcome="/professor/List" value="Show All Professor Items"/>
        <br />
        <h:link outcome="/project/List" value="Show All Project Items"/>
        <br />
        <h:link outcome="/student/List" value="Show All Student Items"/>
        <br />
        <h:link outcome="/studentPreference/List" value="Show All StudentPreference Items"/>
        -->
    </h:body>




</html>

