<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProfessorCreateDlg" widgetVar="ProfessorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProfessorTitle}">
            <h:form id="ProfessorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{professorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProfessorLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{professorController.selected.firstname}" title="#{bundle.CreateProfessorTitle_firstname}" />
                        <p:outputLabel value="#{bundle.CreateProfessorLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{professorController.selected.lastname}" title="#{bundle.CreateProfessorTitle_lastname}" />
                        <p:outputLabel value="#{bundle.CreateProfessorLabel_email}" for="email" />
                        <p:inputText id="email" value="#{professorController.selected.email}" title="#{bundle.CreateProfessorTitle_email}" />
                        <p:outputLabel value="#{bundle.CreateProfessorLabel_capacity}" for="capacity" />
                        <p:inputText id="capacity" value="#{professorController.selected.capacity}" title="#{bundle.CreateProfessorTitle_capacity}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{professorController.create}" value="#{bundle.Save}" update="display,:Tab:ProfessorListForm:datalistProfessors,:Tab:growlProfessors" oncomplete="handleSubmit(args,'ProfessorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProfessorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
