<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
   
    </h:head>
 
    <h:body>
 
    	<h1>Students</h1>
 
 	<p:dataTable value="#{Student.getStudentList()}" var="s">
            <p:column headerText="ID">
                <h:outputText value="#{s.id}" />
            </p:column>
            <p:column headerText="First Name">
                    <h:outputText value="#{s.firstName}" />
            </p:column>
            <p:column headerText="Last Name">
                <h:outputText value="#{s.lastName}" />
            </p:column>
            <p:column headerText="Email">
                <h:outputText value="#{s.email}" />
            </p:column>
    	</p:dataTable>
 
    </h:body>
</html>