<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

    <composite:interface> 
    	<composite:attribute name="firstNameLabel" />
    	<composite:attribute name="firstNameValue" />
        <composite:attribute name="lastNameLabel" />
    	<composite:attribute name="lastNameValue" />
    	<composite:attribute name="emailLabel" />
    	<composite:attribute name="emailValue" />
 
   	<composite:attribute name="registerButtonText" />
    	<composite:attribute name="registerButtonAction" 
    		method-signature="java.lang.String action()" />
        <composite:attribute name="dataTableID"/> 
    </composite:interface>

    <composite:implementation>
	<h:form>
		<p:message for="textPanel"/>
                <p:panelGrid columns="7" id="textPanel">
 
			#{cc.attrs.firstNameLabel} : 
			<p:inputText id="firstName" value="#{cc.attrs.firstNameValue}" />
                        
                        #{cc.attrs.lastNameLabel} : 
			<p:inputText id="lastName" value="#{cc.attrs.lastNameValue}" />
 
			#{cc.attrs.emailLabel} : 
			<p:inputText id="email" value="#{cc.attrs.emailValue}" />
                        <p:commandButton action="#{cc.attrs.registerButtonAction}"
                            value="#{cc.attrs.registerButtonText}"
                            ajax="false"
                        />                        
		</p:panelGrid>
	</h:form>
    </composite:implementation>
 
</html>

<!--                        <p:commandButton actionListener="#{cc.attrs.registerButtonAction}"
                            update="#{cc.attrs.dataTableID}"
                            value="#{cc.attrs.registerButtonText}" 
                            ajax="true" 
                        />-->