            <h2>Compute expression</h2>
            <form method="POST" action="/model/createComputeBean.jsp">
            <input type="text"  name="number1" placeholder="Enter big number"><br>
            <select name="operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="*">/</option>
            </select><br>
            <input type="text"  name="number2" placeholder="Enter big number"><br>
            <input type="submit" value="compute" name="compute">
            <br>
        </form>