<div style="font-family: Arial; font-size: 14px;"> 
            <h2>Please login to continue</h2>
            <form method="POST" action="/model/createUserBean.jsp">
            <input type="text"  name="username" placeholder="Enter username"><br>
            <input type="password" name="password" placeholder="Enter password"><br>
            <br>
            <input type="text" name="captcha" placeholder="Type the darkest characters in image" size="35">
            <img src="/captcha.png" style="vertical-align: middle">
            <br><br>
            Remember Login:&nbsp;
            <input type="checkbox" name="rememberMe" checked="true">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="login" name="login">
            <br>
            <br>
                <a href="/register.jsp">Create a new account</a>

        </form>
</div>