<div style="font-family: Arial; font-size: 14px;"> 
    <h2>Create a new account</h2>
    <form method="POST" action="/model/createUserBean.jsp">
        <input type="text"  name="username" placeholder="Enter username"><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <input type="password" name="password2" placeholder="Verify password"><br>
        <input type="text" name="firstname" placeholder="First Name"><br>
        <input type="text" name="lastname" placeholder="Last Name"><br>
        <input type="email" name="email" placeholder="eMail Address"><br>
        <br>
            <input type="text" name="captcha" placeholder="Type the darkest characters in image" size="35">
            <img src="/captcha.png" style="vertical-align: middle">
            <br><br>
        <br><br>
        <input type="submit" value="register" name="register">
    </form>
    <br>      
</div>