<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StudentCreateDlg" widgetVar="StudentCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateStudentTitle}">
            <h:form id="StudentCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{studentController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateStudentLabel_id}" for="id" />
                        <p:inputText id="id" value="#{studentController.selected.id}" title="#{bundle.CreateStudentTitle_id}" required="true" requiredMessage="#{bundle.CreateStudentRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateStudentLabel_firstname}" for="firstname" />
                        <p:inputText id="firstname" value="#{studentController.selected.firstname}" title="#{bundle.CreateStudentTitle_firstname}" />
                        <p:outputLabel value="#{bundle.CreateStudentLabel_lastname}" for="lastname" />
                        <p:inputText id="lastname" value="#{studentController.selected.lastname}" title="#{bundle.CreateStudentTitle_lastname}" />
                        <p:outputLabel value="#{bundle.CreateStudentLabel_email}" for="email" />
                        <p:inputText id="email" value="#{studentController.selected.email}" title="#{bundle.CreateStudentTitle_email}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{studentController.create}" value="#{bundle.Save}" update="display,:Tab:StudentListForm:datalistStudents,:Tab:growlStudents" oncomplete="handleSubmit(args,'StudentCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="StudentCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
