<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StudentViewDlg" widgetVar="StudentViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewStudentTitle}">
            <h:form id="StudentViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{studentController.selected != null}">
                        <h:outputText value="#{bundle.ViewStudentLabel_id}"/>
                        <h:outputText value="#{studentController.selected.id}" title="#{bundle.ViewStudentTitle_id}"/>
                        <h:outputText value="#{bundle.ViewStudentLabel_firstname}"/>
                        <h:outputText value="#{studentController.selected.firstname}" title="#{bundle.ViewStudentTitle_firstname}"/>
                        <h:outputText value="#{bundle.ViewStudentLabel_lastname}"/>
                        <h:outputText value="#{studentController.selected.lastname}" title="#{bundle.ViewStudentTitle_lastname}"/>
                        <h:outputText value="#{bundle.ViewStudentLabel_email}"/>
                        <h:outputText value="#{studentController.selected.email}" title="#{bundle.ViewStudentTitle_email}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="StudentViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
