<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Hello, stranger</title>
    </h:head>
    <h:body>
        <h2>Login:</h2>
        <form name="loginForm" method="POST" action="j_security_check">
            <p><strong>L: </strong>
                <input type="text" name="j_username" size="50"/></p>
            <p><strong>P: </strong>
                <input type="password" size="50" name="j_password"/></p>
            <p>
                <input type="submit" value="Submit"/></p>
        </form>       
    </h:body>
</html>
