<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StudentPreferenceEditDlg" widgetVar="StudentPreferenceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditStudentPreferenceTitle}">
            <h:form id="StudentPreferenceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{studentPreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.EditStudentPreferenceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{studentPreferenceController.selected.id}" title="#{bundle.EditStudentPreferenceTitle_id}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditStudentPreferenceLabel_score}" for="score" />
                        <p:inputText id="score" value="#{studentPreferenceController.selected.score}" title="#{bundle.EditStudentPreferenceTitle_score}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_score}"/>
                        <p:outputLabel value="#{bundle.EditStudentPreferenceLabel_studentId}" for="studentId" />
                        <p:selectOneMenu id="studentId" value="#{studentPreferenceController.selected.studentId}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_studentId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{studentController.itemsAvailableSelectOne}"
                                           var="studentIdItem"
                                           itemValue="#{studentIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditStudentPreferenceLabel_projectId}" for="projectId" />
                        <p:selectOneMenu id="projectId" value="#{studentPreferenceController.selected.projectId}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_projectId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{projectController.itemsAvailableSelectOne}"
                                           var="projectIdItem"
                                           itemValue="#{projectIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{studentPreferenceController.update}" value="#{bundle.Save}" update="display,:Tab:StudentPreferenceListForm:datalistStudentPreference,:Tab:growlStudentPreference" oncomplete="handleSubmit(args, 'StudentPreferenceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="StudentPreferenceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
