<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
            <h:form id="StudentPreferenceListForm">
                    <p:dataTable id="datalistStudentPreference" value="#{studentPreferenceController.items}" var="item"
                                 selectionMode="single" selection="#{studentPreferenceController.selected}"
                                 paginator="false"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentPreferenceTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentPreferenceTitle_score}"/>
                            </f:facet>
                            <h:outputText value="#{item.score}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentPreferenceTitle_studentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.studentId.firstname} #{item.studentId.lastname}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentPreferenceTitle_projectId}"/>
                            </f:facet>
                            <h:outputText value="#{item.projectId.name}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{studentPreferenceController.prepareCreate}" update=":Tab:StudentPreferenceCreateForm" oncomplete="PF('StudentPreferenceCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":Tab:StudentPreferenceViewForm" oncomplete="PF('StudentPreferenceViewDialog').show()" disabled="#{empty studentPreferenceController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":Tab:StudentPreferenceEditForm" oncomplete="PF('StudentPreferenceEditDialog').show()" disabled="#{empty studentPreferenceController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{studentPreferenceController.destroy}" update=":Tab:growlStudentPreference,datalistStudentPreference" disabled="#{empty studentPreferenceController.selected}"/>
                        </f:facet>
                    </p:dataTable>
            </h:form>

            <ui:include src="/studentPreference/Create.xhtml"/>
            <ui:include src="/studentPreference/Edit.xhtml"/>
            <ui:include src="/studentPreference/View.xhtml"/>
    </ui:composition>

</html>
