<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StudentPreferenceViewDlg" widgetVar="StudentPreferenceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewStudentPreferenceTitle}">
            <h:form id="StudentPreferenceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{studentPreferenceController.selected != null}">
                        <h:outputText value="#{bundle.ViewStudentPreferenceLabel_id}"/>
                        <h:outputText value="#{studentPreferenceController.selected.id}" title="#{bundle.ViewStudentPreferenceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewStudentPreferenceLabel_score}"/>
                        <h:outputText value="#{studentPreferenceController.selected.score}" title="#{bundle.ViewStudentPreferenceTitle_score}"/>
                        <h:outputText value="#{bundle.ViewStudentPreferenceLabel_studentId}"/>
                        <h:outputText value="#{studentPreferenceController.selected.studentId}" title="#{bundle.ViewStudentPreferenceTitle_studentId}"/>
                        <h:outputText value="#{bundle.ViewStudentPreferenceLabel_projectId}"/>
                        <h:outputText value="#{studentPreferenceController.selected.projectId}" title="#{bundle.ViewStudentPreferenceTitle_projectId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="StudentPreferenceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
