<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StudentPreferenceCreateDlg" widgetVar="StudentPreferenceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateStudentPreferenceTitle}">
            <h:form id="StudentPreferenceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{studentPreferenceController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateStudentPreferenceLabel_id}" for="id" />
                        <p:inputText id="id" value="#{studentPreferenceController.selected.id}" title="#{bundle.CreateStudentPreferenceTitle_id}" required="true" requiredMessage="#{bundle.CreateStudentPreferenceRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateStudentPreferenceLabel_score}" for="score" />
                        <p:inputText id="score" value="#{studentPreferenceController.selected.score}" title="#{bundle.CreateStudentPreferenceTitle_score}" required="true" requiredMessage="#{bundle.CreateStudentPreferenceRequiredMessage_score}"/>
                        <p:outputLabel value="#{bundle.CreateStudentPreferenceLabel_studentId}" for="studentId" />
                        <p:selectOneMenu id="studentId" value="#{studentPreferenceController.selected.studentId}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_studentId}">
                            <f:selectItems value="#{studentController.itemsAvailableSelectOne}"
                                           var="studentIdItem"
                                           itemValue="#{studentIdItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateStudentPreferenceLabel_projectId}" for="projectId" />
                        <p:selectOneMenu id="projectId" value="#{studentPreferenceController.selected.projectId}" required="true" requiredMessage="#{bundle.EditStudentPreferenceRequiredMessage_projectId}">
                            <f:selectItems value="#{projectController.itemsAvailableSelectOne}"
                                           var="projectIdItem"
                                           itemValue="#{projectIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{studentPreferenceController.create}" value="#{bundle.Save}" update="display,:Tab:StudentPreferenceListForm:datalistStudentPreference,:Tab:growlStudentPreference" oncomplete="handleSubmit(args,'StudentPreferenceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="StudentPreferenceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
