<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProfessorViewDlg" widgetVar="ProfessorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProfessorTitle}">
            <h:form id="ProfessorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{professorController.selected != null}">
                        <h:outputText value="#{bundle.ViewProfessorLabel_id}"/>
                        <h:outputText value="#{professorController.selected.id}" title="#{bundle.ViewProfessorTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProfessorLabel_firstname}"/>
                        <h:outputText value="#{professorController.selected.firstname}" title="#{bundle.ViewProfessorTitle_firstname}"/>
                        <h:outputText value="#{bundle.ViewProfessorLabel_lastname}"/>
                        <h:outputText value="#{professorController.selected.lastname}" title="#{bundle.ViewProfessorTitle_lastname}"/>
                        <h:outputText value="#{bundle.ViewProfessorLabel_email}"/>
                        <h:outputText value="#{professorController.selected.email}" title="#{bundle.ViewProfessorTitle_email}"/>
                        <h:outputText value="#{bundle.ViewProfessorLabel_capacity}"/>
                        <h:outputText value="#{professorController.selected.capacity}" title="#{bundle.ViewProfessorTitle_capacity}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProfessorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
