<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:tj="http://java.sun.com/jsf/composite/ezcomp">

    <body>

        <ui:composition template="./resources/mainTemplate.xhtml">

            <ui:define name="top">
           Add Student
            </ui:define>

            <ui:define name="content">
               <tj:addPerson 
		firstNameLabel="First Name" 
		firstNameValue="#{student.firstName}" 
                
                lastNameLabel="Last Name" 
		lastNameValue="#{student.lastName}" 
                
		emailLabel="E-mail" 
		emailValue="#{student.email}"
 
		registerButtonText="Register" 
		registerButtonAction="#{student.registerAction}"
                dataTableID="undefined"
            />
            </ui:define>

            <ui:define name="bottom">
                
            </ui:define>

        </ui:composition>

    </body>
</html>
