<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProjectCreateDlg" widgetVar="ProjectCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProjectTitle}">
            <h:form id="ProjectCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{projectController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProjectLabel_name}" for="name" />
                        <p:inputText id="name" value="#{projectController.selected.name}" title="#{bundle.CreateProjectTitle_name}" />
                        <p:outputLabel value="#{bundle.CreateProjectLabel_capacity}" for="capacity" />
                        <p:inputText id="capacity" value="#{projectController.selected.capacity}" title="#{bundle.CreateProjectTitle_capacity}" />
                        <p:outputLabel value="#{bundle.CreateProjectLabel_description}" for="description" />
                        <p:inputText id="description" value="#{projectController.selected.description}" title="#{bundle.CreateProjectTitle_description}" />
                        <p:outputLabel value="#{bundle.CreateProjectLabel_professorId}" for="professorId" />
                        <p:selectOneMenu id="professorId" value="#{projectController.selected.professorId}" required="true" requiredMessage="#{bundle.EditProjectRequiredMessage_professorId}">
                            <f:selectItems value="#{professorController.itemsAvailableSelectOne}"
                                           var="professorIdItem"
                                           itemValue="#{professorIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{projectController.create}" value="#{bundle.Save}" update="display,:Tab:ProjectListForm:datalistProjects,:Tab:growlProjects" oncomplete="handleSubmit(args,'ProjectCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProjectCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
    </ui:composition>
</html>
