<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>


      
            <h:form id="ProjectListForm">
                    <p:dataTable id="datalistProjects" value="#{projectController.items}" var="item"
                                 selectionMode="single" selection="#{projectController.selected}"
                                 paginator="false"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProjectTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProjectTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProjectTitle_capacity}"/>
                            </f:facet>
                            <h:outputText value="#{item.capacity}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProjectTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProjectTitle_professorId}"/>
                            </f:facet>
                            <h:outputText value="#{item.professorId.firstname} #{item.professorId.lastname}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{projectController.prepareCreate}" update=":Tab:ProjectCreateForm" oncomplete="PF('ProjectCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":Tab:ProjectViewForm" oncomplete="PF('ProjectViewDialog').show()" disabled="#{empty projectController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":Tab:ProjectEditForm" oncomplete="PF('ProjectEditDialog').show()" disabled="#{empty projectController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{projectController.destroy}" update=":Tab:growlProjects,datalistProjects" disabled="#{empty projectController.selected}"/>
                        </f:facet>
                    </p:dataTable>
            </h:form>

            <ui:include src="/project/Create.xhtml"/>
            <ui:include src="/project/Edit.xhtml"/>
            <ui:include src="/project/View.xhtml"/>
    </ui:composition>

</html>
