<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProjectViewDlg" widgetVar="ProjectViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProjectTitle}">
            <h:form id="ProjectViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{projectController.selected != null}">
                        <h:outputText value="#{bundle.ViewProjectLabel_id}"/>
                        <h:outputText value="#{projectController.selected.id}" title="#{bundle.ViewProjectTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProjectLabel_name}"/>
                        <h:outputText value="#{projectController.selected.name}" title="#{bundle.ViewProjectTitle_name}"/>
                        <h:outputText value="#{bundle.ViewProjectLabel_capacity}"/>
                        <h:outputText value="#{projectController.selected.capacity}" title="#{bundle.ViewProjectTitle_capacity}"/>
                        <h:outputText value="#{bundle.ViewProjectLabel_description}"/>
                        <h:outputText value="#{projectController.selected.description}" title="#{bundle.ViewProjectTitle_description}"/>
                        <h:outputText value="#{bundle.ViewProjectLabel_professorId}"/>
                        <h:outputText value="#{projectController.selected.professorId}" title="#{bundle.ViewProjectTitle_professorId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProjectViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
